# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# MLflow
mlflow.db
mlruns/
mlartifacts/

# Generated model artifacts
artifacts/models/
artifacts/plots/
artifacts/reports/

# Generated processed/monitoring data
data/processed/
data/monitoring/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
